<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasion aplicaciones y sitio web para personas</h1>
                <p>Aqui va un texto lo mas de ijuemadre de largo xd</p>
            </div>
            <div class="rigth">
                <h1>Podemos conversar lo que quieras</h1>
                <p>Solo enviame un correo <a class="orange" href="#contacto">Pinchando aqui</a></p>
            </div>
        </div>
    </div>
</div>